/* styles.css */

/* Estilos para las imágenes de los muebles */
.mueble-item img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Ajusta este valor según tus necesidades */
    max-height: 300px; /* Ajusta este valor según tus necesidades */
    object-fit: cover;
}

/* Estilos para el contenedor de muebles */
.muebles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centra los elementos */
}

.mueble-item {
    flex: 1 1 calc(33.333% - 20px); /* Ajusta este valor según tus necesidades */
    box-sizing: border-box;
    text-align: center;
}


/* Estilos para el footer */


/* Asegura que el contenido principal tenga suficiente espacio para el footer */
body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px; /* Ajusta este valor según la altura de tu footer */
    box-sizing: border-box;
}
